.Footer{
    text-align: center;
    background-color: black;
    color:antiquewhite;
    padding: "5px";
    position: fixed;
    bottom: 0px;
    width: 100vw;
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;
}
label{
    text-align: left;
}