ul{
  padding:0;
  display:flex;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  margin:0;
  justify-content: space-evenly;
  text-decoration: none;
  list-style-type: none;
  background-color: chocolate;
  color: rgb(240, 243, 255);
  padding: 10px;

}
li{
  cursor: pointer;
  padding:3px;

}
li:hover{
  background-color: white;
  color: chocolate;
  padding:3px;
  border-radius:10px;
}